@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

:root {
    --theme-primary: rgb(6, 95, 212);
    --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    --theme-element-background: white;
    --theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --list-background-on-hover-color: rgba(0, 0, 0, 0.04);
    --theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --theme-input-border-error: rgb(229, 57, 53);
    --theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
}
