select-input {
    height: 4rem;
    width: 100%;
    display: inline-block;
    //position: relative;
}

select-input list-box {
    //display: inline-block;
    //margin-top: -0.875rem;
    //position: relative;
}

select-input text-input {
    cursor: pointer;
}

select-input text-input .text-input__trailing-icon{
    pointer-events: none;
}
