select-input {
    height: 4rem;
    width: 100%;
    display: inline-block;
}

select-input list-box {
    display: none;
    margin-top: -0.875rem;
}

select-input text-input {
    cursor: pointer;
}

select-input text-input .text-input__trailing-icon{
    pointer-events: none;
}
